@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #f7f4f4;
    --clr-offWhite: #dad5d5;
    --clr-blk: #212121;
    --clr-grey: #524e4e;
    --clr-brwn: #b27526;
    --clr-darkBrown: #865340;
}
::selection {
    color: var(--clr-white);
    background-color: var(--clr-darkBrown);
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--clr-darkBrown);
    border-radius: 20px;
    border: transparent;
}
body {
    width: 100%;
    height: 100vh;
    background: var(--clr-white);
    font-family: 'Josefin Sans', sans-serif;
    cursor: default;
}
/*Navbar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 86rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2rem;
}
.logo a {
    text-decoration: none;
}
.logo a:visited {
    color: var(--clr-blk);
}
.logo img {
    color: var(--clr-grey);
    width: 70px;
    height: auto;
    margin-left: 1rem;
}
.logo h1 {
    color: var(--clr-blk);
    width: 40%;
    font-size: clamp(1.2rem, 3vw, 1.35rem);
    letter-spacing: 1px;
    margin-top: .75rem;
    line-height: 1;
    font-weight: 400;
}
.links ul {
    display: flex;
    justify-content: center;
}
.links ul li {
    text-transform: capitalize;
    letter-spacing: 2px;
    list-style: none;
    margin: .75rem 2.5rem 0 .5rem;
    font-size: clamp(1rem, 3vw, 1.1rem);
}
.links ul li a {
    text-decoration: none;
    color: var(--clr-blk);
    transition: 250ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a:hover {
    color: var(--clr-brwn);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    width: 1.2rem;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    z-index: 5;
}
.bars {
    position: relative;
    height: 2.5px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-grey);
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-grey);
    transition: 300ms;
}
.bars::before {
    transform: translateY(-8px);
}
.bars::after {
    transform: translateY(8px);
}
nav.active .hamburger-menu .bars {
    background-color: transparent;
}
nav.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(-45deg);
}
nav.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(45deg);
}
/*Main Contents*/
.wrapper {
    margin: 2.5rem 3rem;
    max-width: 80rem;
    padding-bottom: 2rem;
    color: var(--clr-grey);
}
.locations-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
table {
    border-collapse: collapse;
    letter-spacing: .5px;
    height: 100%;
    width: 100%;
    color: var(--clr-grey);
}
table thead tr th {
    color: var(--clr-white);
    background-color: var(--clr-darkBrown);
    font-weight: 400;
    padding: .6rem;
}
table tbody tr td {
    padding: .5rem;
}
table tbody tr td:nth-child(even) {
    text-align: right;
}
table tr {
    border: 2px solid var(--clr-offWhite);
}
table th,
table td {
    padding: .35rem .95rem;
}
.location {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
}
.location .header {
    position: relative;
}
.location .header h2 {
    width: 100%;
    color: var(--clr-white);
    background-color: var(--clr-darkBrown);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 3vw, 1.15rem);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .5px;
    padding: 10px 0 10px 10px;
}
.location .header img {
    position: absolute;
    max-width: 2.5rem;
    top: 15%;
    right: 5%;
    transform: translate(-50%, -50%);
    transform: rotate(50deg);
}
.location .info {
    max-height: 300px;
    line-height: 1.4;
    transition: all .3s ease-in-out;
    overflow: auto;
}
.location .info img {
    width: 100%;
    height: auto;
}
.location .info p {
    width: 97%;
    padding: .5rem;
    font-weight: 400;
    letter-spacing: .5px;
}
/*Media Query's*/
@media screen and (max-width: 876px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    nav.active .links {
        transform: translate(0);
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background-color: var(--clr-white);
        transform: translateX(100%);
        transition: 350ms;
        z-index: 5;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        position: relative;
        bottom: .5rem;
        padding-top: 1.75rem;
    }
    .links ul li a {
        color: var(--clr-blk);
    }
    .hamburger-menu {
        display: flex;
    }
}
@media screen and (max-width: 968px) {
    .locations-container .opening-times {
        grid-column: 1 / -1;
    }
    .locations-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 430px) {
    .locations-container {
        grid-template-columns: repeat(1, 1fr);
    }
    table tbody tr td:nth-child(even) {
        text-align: left;
    }
}
@media screen and (max-width: 1180px) and (orientation: landscape) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    nav.active .links {
        transform: translate(0);
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background-color: var(--clr-white);
        transform: translateX(100%);
        transition: 350ms;
        z-index: 5;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        position: relative;
        bottom: .5rem;
        padding-top: 1.75rem;
    }
    .links ul li a {
        color: var(--clr-blk);
    }
    .hamburger-menu {
        display: flex;
    }
    .locations-container .opening-times {
        grid-column: 1 / -1;
    }
    .locations-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*Dark Mode*/
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: var(--clr-offWhite);
    }
    body {
        background: var(--clr-blk);
    }
    .wrapper,
    .logo a:visited,
    .logo img,
    .logo h1,
    .links ul li a {
        color: var(--clr-offWhite);
    }
    .opening-times {
        color: var(--clr-offWhite);
    }
    table {
        box-shadow: none;
        color: var(--clr-offWhite);
        border: 2px solid var(--clr-offWhite);
    }
    table tr {
        border: 2px solid var(--clr-grey);
    }
    .location {
        box-shadow: none;
    }
    .location img {
        color: var(--clr-offWhite);
    }
    .location .info p {
        color: var(--clr-offWhite);
    }
}
@media screen and (max-width: 1180px) and (prefers-color-scheme: dark) {
    .links {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk);
    }
    .links ul li a {
        color: var(--clr-offWhite);
    }
    .bars,
    .bars::before,
    .bars::after {
        background-color: var(--clr-offWhite);
    }
}