@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/josefin-sans-v33-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #f7f4f4;
    --clr-offWhite: #dad5d5;
    --clr-blk: #212121;
    --clr-grey: #312f2f;
    --clr-lightGrey: #4a4848;
    --clr-brwn: #b27526;
    --clr-darkBrown: #865340;
}
::selection {
    color: var(--clr-white);
    background-color: var(--clr-darkBrown);
}
body {
    width: 100%;
    height: 100vh;
    background: var(--clr-white);
    font-family: 'Josefin Sans', sans-serif;
    cursor: default;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    max-width: 96rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
}
.logo img {
    color: var(--clr-grey);
    width: 70px;
    height: 100%;
}
.logo h2 {
    display: inline-block;
    position: relative;
    top: .45rem;
    left: .35rem;
    color: var(--clr-blk);
    width: 45%;
    font-size: clamp(1.2rem, 3vw, 1.35rem);
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 400;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.75rem;
    right: .75rem;
    width: auto;
    height: auto;
    padding: .75rem;
    background-color: transparent;
    border: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}
.bars {
    position: relative;
    height: 2.5px;
    width: 1.2rem;
    border-radius: 5px;
    background-color: var(--clr-grey);
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-grey);
    transition: transform 300ms ease;
}
.bars::before {
    transform: translateY(-8px);
}
.bars::after {
    transform: translateY(8px);
}
nav.active .hamburger-menu .bars {
    background-color: transparent;
}
nav.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(-45deg);
}
nav.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(45deg);
}
.links ul {
    display: flex;
    justify-content: center;
}
.links ul li {
    text-transform: capitalize;
    letter-spacing: 2px;
    list-style: none;
    margin-left: 2.5rem;
    font-size: clamp(1rem, 3vw, 1.1rem);
}
.links ul li a {
    text-decoration: none;
    color: var(--clr-blk);
    transition: color 250ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a:hover {
    color: var(--clr-brwn);
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    max-width: 90rem;
    color: var(--clr-grey);
}
.contents h1 {
    width: 75%;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.25rem, 3vw, 2.5rem);
    line-height: 1.5;
    text-transform: capitalize;
}
.contents h2 {
    width: 60%;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    line-height: 1.5;
    letter-spacing: .45px;
}
.btn {
    display: inline-block;
    margin-top: 1.75rem;
    color: var(--clr-white);
    background: var(--clr-darkBrown);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(.9rem, 3vw, 1.1rem);
    font-weight: 400;
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    -webkit-tap-highlight-color: transparent;
    transition: background-color ease-in-out 250ms;
}
.btn:hover {
    background-color: var(--clr-blk);
}
.img-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
    max-width: 600px;
    object-fit: contain;
}
.img-container img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .75;
}
@media screen and (max-width: 1175px) {
    body {
        overflow: hidden;
    }
    nav.active .links {
        transform: translate(0);
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background-color: var(--clr-white);
        transform: translateX(100%);
        transition: transform 350ms ease;
        z-index: 1;
    }
    .links ul {
        flex-direction: column;
    }
    .links ul li {
        position: relative;
        bottom: .5rem;
        padding-top: 1.75rem;
        margin-left: 0;
    }
    .links ul li a {
        color: var(--clr-blk);
    }
    .hamburger-menu {
        display: flex;
    }
    .btn:hover {
        background-color: none;
    }
    .img-container {
        width: 85vw;
    }
}
@media screen and (max-width: 875px) {
    .contents h1,
    .contents h2 {
        width: 90%;
    }
}
@media screen and (max-width: 1180px) and (orientation: landscape) {
    .contents h1,
    .contents h2 {
        width: 55%;
        font-size: 1rem;
    }
    .contents .btn {
        margin-top: 1.25rem;
    }
    .img-container {
        width: 60vw;
    }
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--clr-blk);
    }
    .wrapper,
    .logo img,
    .logo h2,
    .links ul li a {
        color: var(--clr-offWhite);
    }
    .links {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk);
    }
    .bars,
    .bars::before,
    .bars::after {
        background-color: var(--clr-offWhite);
    }
    .btn {
        color: var(--clr-offWhite);
        background: var(--clr-lightGrey);
        box-shadow: none;
    }
    .btn:hover {
        background: var(--clr-darkBrown);
    }
    .img-container img {
        color: var(--clr-blk);
        filter: invert(1);
    }
}