@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/josefin-sans-v33-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #f7f4f4;
    --clr-offWhite: #dad5d5;
    --clr-blk: #212121;
    --clr-grey: #312f2f;
    --clr-lightGrey: #4a4848;
    --clr-brwn: #b27526;
    --clr-darkBrown: #865340;
}
::selection {
    color: var(--clr-white);
    background-color: var(--clr-darkBrown);
}
body {
    width: 100%;
    height: 100vh;
    background: var(--clr-white);
    font-family: 'Josefin Sans', sans-serif;
    cursor: default;
}
/*Navbar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 96rem;
}
.logo a {
    text-decoration: none;
}
.logo a:visited {
    color: var(--clr-blk);
}
.logo img {
    color: var(--clr-grey);
    width: 70px;
    height: auto;
    margin-left: 1rem;
}
.logo h1 {
    display: inline-block;
    position: relative;
    bottom: .5rem;
    color: var(--clr-blk);
    width: 40%;
    font-size: clamp(1.2rem, 3vw, 1.35rem);
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 400;
}
.links ul {
    display: flex;
    justify-content: center;
}
.links ul li {
    text-transform: capitalize;
    letter-spacing: 2px;
    list-style: none;
    margin: .75rem 2.5rem 0 .5rem;
    font-size: clamp(1rem, 3vw, 1.1rem);
}
.links ul li a {
    text-decoration: none;
    color: var(--clr-blk);
    transition: 250ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a:hover {
    color: var(--clr-brwn);
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    width: 1.2rem;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}
.bars {
    position: relative;
    height: 2.5px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-grey);
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-grey);
    transition: 300ms;
}
.bars::before {
    transform: translateY(-8px);
}
.bars::after {
    transform: translateY(8px);
}
nav.active .hamburger-menu .bars {
    background-color: transparent;
}
nav.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(-45deg);
}
nav.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(45deg);
}
/*Main Contents*/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3rem 0 0 3rem;
    max-width: 90rem;
    color: var(--clr-grey);
}
.contents h1 {
    width: 75%;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: 1.5;
    text-transform: capitalize;
}
.contents h2 {
    width: 60%;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    line-height: 1.5;
    letter-spacing: .45px;
}
.btn {
    display: inline-block;
    margin-top: 1.75rem;
    background: var(--clr-darkBrown);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    padding: 10px 5px;
    border-radius: 10px;
    transition: ease-in-out 250ms;
}
.btn a {
    color: var(--clr-white);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 400;
    padding: 10px 5px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}
.btn:hover {
    background-color: var(--clr-blk);
}
.img-container img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 535px;
    opacity: 75%;
    color: var(--clr-grey);
}
/*Media Query's*/
@media screen and (max-width: 876px) {
    body {
        overflow: hidden;
    }
    nav.active .links {
        transform: translate(0);
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background-color: var(--clr-white);
        transform: translateX(100%);
        transition: 350ms;
        z-index: 1;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        position: relative;
        bottom: .5rem;
        padding-top: 1.75rem;
    }
    .links ul li a {
        color: var(--clr-blk);
    }
    .hamburger-menu {
        display: flex;
    }
    .wrapper {
        margin: 1rem 0 0 2rem;
    }
    .contents h1,
    .contents h2 {
        width: 90%;
    }
    .btn:hover {
        background-color: none;
    }
}
@media screen and (max-width: 725px) {
    .img-container img {
        max-width: 450px;
    }
}
@media screen and (max-width: 445px) {
    .contents h1 {
        width: 85%;
    }
    .contents h2 {
        width: 85%;
    }
    .img-container img {
        max-width: 350px;
    }
}
@media screen and (max-width: 345px) {
    .img-container img {
        max-width: 300px;
    }
}
@media screen and (max-width: 1180px) and (orientation: landscape) {
    nav.active .links {
        transform: translate(0);
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background-color: var(--clr-white);
        transform: translateX(100%);
        transition: 350ms;
        z-index: 1;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        position: relative;
        bottom: .5rem;
        padding-top: 1.75rem;
    }
    .links ul li a {
        color: var(--clr-blk);
    }
    .hamburger-menu {
        display: flex;
    }
    .wrapper {
        margin: 0 0 0 3rem;
    }
    .contents h1 {
        font-size: clamp(1rem, 3vw, 1rem);
    }
    .contents h2 {
        font-size: clamp(1rem, 3vw, 1rem);
    }
    .contents h1,
    .contents h2 {
        width: 55%;
    }
    .img-container img {
        max-width: 375px;
    }
}
@media screen and (max-width: 655px) and (orientation: landscape) {
    .contents .btn {
        margin-top: 1rem;
    }
}
/*Dark Mode*/
@media screen and (max-width: 1180px) and (prefers-color-scheme: dark) {
    .logo h1 {
        color: var(--clr-offWhite);
    }
    .logo a:visited {
        color: var(--clr-offWhite);
    }
    .links {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk);
    }
    .links ul li a {
        color: var(--clr-offWhite);
    }
    .bars,
    .bars::before,
    .bars::after {
        background-color: var(--clr-offWhite);
    }
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--clr-blk);
    }
    .wrapper,
    .logo a:visited,
    .logo img,
    .logo h1,
    .links ul li a {
        color: var(--clr-offWhite);
    }
    .btn {
        background: var(--clr-lightGrey);
        box-shadow: none;
    }
    .btn a {
        color: var(--clr-offWhite);
    }
    .btn:hover {
        background: var(--clr-darkBrown);
    }
    .img-container img {
        color: var(--clr-blk);
        filter: invert(1);
    }
}